/* Titelbalk */

.titelbalk { 
	background-color: #f2dcdd;
	width: 100%; 
	height: 350px;
	text-align: center; 
	vertical-align: middle;
} 
.inleiding {
	width: 400px; 
	display: inline; 
	float: left; 
	margin-top: 80px;
} 
.logo { 
	width: 170px; 
	display: inline; 
} 
.logo img {
	/*width: 100%;*/
	margin-top: 80px;
}
.spreuk{
	width: 400px;
	display: inline; 
	float: right; 
	height: 100%;
	margin-top: 80px;
} 
.spreuk img {
	/*width: 100%;*/
}


* {
  box-sizing: border-box; 
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
/* Style the header */  
header {
  background-color: #f2dcdd ;
  padding: 30px;
  text-align: center; 
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left; 
  width: 30%;
  height: 300px; /* only for demonstration, should be removed */
  background: #d7d7d7;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: ;
}

article {
  float: left; 
  padding: 20px;
  width: 70%;
  background-color: #ffffff;
  height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #f5c4d7;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

</div>
